# vim: filetype=swayconfig
# ~/.config/sway/config.d/autostart.config

# Peak Efficiency: Workspace assignment via criteria instead of 'swaymsg'
assign [app_id="foot" title="dmesg"] workspace number 10
exec $term -T "dmesg" -e dmesg -w

# Simplified Idle (Direct call)
# Make sure ~/.local/bin/onbat returns 0 only if on battery to prevent 
# your tablet from suspending while plugged in.
exec swayidle -w \
    timeout 100 '~/.local/bin/batr && swaylock -f -c 000000' \
    timeout 200 '~/.local/bin/batr && loginctl suspend' \
    before-sleep 'swaylock -f -c 000000'

exec --no-startup-id ~/.local/bin/pipewire-launcher.sh
