# vim: filetype=swayconfig
# ~/.config/sway/config.d/bar.config

bar {
    position top
    # Use the absolute path to your new C binary
    status_command ~/.local/bin/barr
    
    # Tablet tip: Make the bar slightly larger for touch targets
    height 25 
    
    colors {
        statusline #ffffff
        background #000000ee 
        # Transparent background saves a tiny bit of GPU composition overhead
        inactive_workspace #00000000 #00000000 #5c5c5c
    }
}
