# vim: filetype=swayconfig
# ~/.config/sway/config.d/input.config


input "type:touchpad" {
    tap enabled
    natural_scroll enabled
    dwt enabled # disable-while-typing is huge for tablets
}

# Ensure your touchscreen is mapped correctly even if you rotate
input "type:touch" {
    map_to_output $display
}

input "type:keyboard" {
    xkb_options "compose:ralt"
}

# Gaps make touch-resizing much easier
gaps inner 5
gaps outer 2
smart_gaps on
